<!DOCTYPE html>
<head>
	<title> Create Account </title>
	<link rel="shortcut icon" href="#" />
	<link rel="stylesheet" type="text/css" href="static/body.css">
	<link rel="stylesheet" type="text/css" href="static/form.css">
	<link rel="stylesheet" type="text/css" href="static/message.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
		  <p class="message"> {{message}} </p>
		{% endfor %}
	  {% endif %}
	{% endwith %}
	
	<div class="formbox">
		<p class="title"> Enter the fields below: </p>
		<form action="/create_user" method="post">

			<div class="textbox">
	    		<i class="fas fa-user"></i>
				<input type="text" class="username" name="username" minlength="3" placeholder="Username (*)" required>
			</div>

			<div class="textbox">
	    		<i class="fas fa-lock"></i>
				<input type="password" class="password" name="password" minlength="3" placeholder="Password (*)" required>
			</div>

			<div class="textbox">
	    		<i class="fas fa-user"></i>
				<input type="text" class="first_name" name="first_name" placeholder="First Name (*)" required>
			</div>

			<div class="textbox">
	    		<i class="fas fa-user"></i>
				<input type="text" class="last_name" name="last_name" placeholder="Last Name (*)" required>
			</div>

			<input class="button" type="submit" value="Submit">
		</form>
	</div>
</body>